.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-top: 15px;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    font-size: 22px;
    padding: 5px;
    position: fixed;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.50);
    border: none;
  }
}


.WrapperCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  margin-top: 100px;
  gap: 20px;

}